<!DOCTYPE html>

<html>

    <head>
        <link rel='stylesheet' href='/css/styles.css'>
    </head>

    <body>

        <div class="main-content">
            {{>header}}
            <img src='/img/mario.png' class='portrait'>
            <p>{{name}}</p>
        </div>
        
        {{>footer}}
    </body>

</html>